[submodule "modules/concurrency"]
	path = modules/concurrency
	url = git@github.com:Vafo/multithread-task.git
[submodule "modules/shared_ptr"]
	path = modules/shared_ptr
	url = git@github.com:Vafo/shared-ptr-task.git
